.editModal {
    height: 100%;
    .modalHead {
        position: absolute;
        height: 40%;
        width: 100%;
        z-index: 2;
    }
    .modalBody {
        position: absolute;
        top: 40%;
        height: 40%;
        width: 100%;
        z-index: 1;
    }
    .modalFooter {
      position: absolute;
      top: 85%;
      height: 15%;
      width: 100%;
      z-index: 1;
      .editBtn {
        background: transparent;
        background-color: rgb(170, 226, 57);
        border: 0;
        position: relative;
        width: 50%;
        height: 100%;
        color: white;
      }
      .closeBtn {
        background: transparent;
        border: 0;
        position: relative;
        width: 50%;
        height: 100%;
      }
    }
  }