.editModal {
    height: 100%;
    .searchBar {
      background: transparent;
      font-size: 30px;
      border-radius: 5px;
      width: 60%;
      height: 15%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 20%;
      left: 50%;
      text-align: left;
    }
    .modalBody {
      position: absolute;
      top: 30%;
      height: 40%;
      width: 100%;
    }
    .modalFooter {
      position: absolute;
      top: 70%;
      height: 30%;
      width: 100%;
      .editBtn {
        background: transparent;
        background-color: rgb(170, 226, 57);
        border-radius: 7px;
        position: relative;
        left: 65%;
        top: 50%;
        width: 12%;
        height: 25%;
        color: white;
      }
      .closeBtn {
        background: transparent;
        border-radius: 7px;
        position: relative;
        left: 70%;
        top: 50%;
        width: 12%;
        height: 25%;
      }
    }
  }